<html>
    <h1>Times table of: <%= n %> x <%= sn %></h1>
    <table>
        <tr colspan="3" style="text-align: center"></tr><%= n %> x <%= sn %> = <strong><%= n * sn %></strong></tr>
        <tr>
            <td><a href="http://127.0.0.1:4000/second/<%= n %>">back</a></td>
            <td width="50"></td>
            <td><a href="http://127.0.0.1:4000">home</a></td>
        </tr>
    </table>
</html>